<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="shortcut icon" href="../static/img/warp.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Телепортация</title>

</head>

<body>
<header>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p class="text-center text-white header-text text-uppercase">Услуги телепортации</p>
                <!-- <h1 class="text-center text-white">Услуги телепортации</h1> -->
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-6 col-sm-12">
                <a href="#section1" class="btn header-btn">Как это работает?</a>
            </div>
            <div class="col-md-6 col-sm-12">
                <a href="#order" class="btn header-btn">Заказать профессионала</a>
            </div>
        </div>
    </div>
</header>

<section class="about" id="section1">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center text-uppercase color2 mb-5">Принцип работы</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-md-6 col-sm-12">
                <div class="circle">
                    <icon>1</icon>
                </div>
                <h4 class="text-center">В качастве основного исполнителя выступает конденсат Бозе-Эйнштейна</h4>
                <div class="line"></div>
            </div>
            <div class="col-xl-4 col-md-6 col-sm-12">
                <div class="circle">
                    <icon>2</icon>
                </div>
                <h4 class="text-center">Конденсат Бозе-Эйнштейна - это вещество охлаждено до 0,00000017K</h4>
                <div class="line"></div>
            </div>
            <div class="col-xl-4 col-md-6 col-sm-12">
                <div class="circle">
                    <icon>3</icon>
                </div>
                <h4 class="text-center">С помощью специального устройста наш сотрудник разогревает предмет до состояния
                    плазмы
                </h4>
                <div class="line"></div>
            </div>
            <div class="col-xl-4 col-md-6 col-sm-12">
                <div class="circle">
                    <icon>4</icon>
                </div>
                <h4 class="text-center">Далее идет охлаждение конденсатом Бозе-Эйнштейна</h4>
                <div class="line"></div>
            </div>
            <div class="col-xl-4 col-md-6 col-sm-12">
                <div class="circle">
                    <icon>5</icon>
                </div>
                <h4 class="text-center">Происходит вспышка световых лучей</h4>
                <div class="line"></div>
            </div>
            <div class="col-xl-4 col-md-6 col-sm-12">
                <div class="circle">
                    <icon>6</icon>
                </div>
                <h4 class="text-center">Данные с них записываются на переносной квантовый компьютер</h4>
                <div class="line"></div>
            </div>
            <div class="col-xl-4 col-md-6 col-sm-12">
                <div class="circle">
                    <icon>7</icon>
                </div>
                <h4 class="text-center">В нужном месте специальная билд-барокамера получает данные с компьютера</h4>
                <div class="line"></div>
            </div>
            <div class="col-xl-4 col-md-6 col-sm-12">
                <div class="circle">
                    <icon>8</icon>
                </div>
                <h4 class="text-center">С помощью нано-роботов начинается постройка предмета</h4>
                <div class="line"></div>
            </div>
            <div class="col-xl-4 col-md-6 col-sm-12">
                <div class="circle">
                    <icon>9</icon>
                </div>
                <h4 class="text-center">Когда постройка завершена предмет можно забирать</h4>
                <div class="line"></div>
            </div>
        </div>
    </div>

</section>

<section class="advantages" id="section2">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center text-uppercase color2 mb-5">Преимущества нашей компании</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12 mb-3">
                <h4 class="text-center">Быстрый ответ оператора (среднее время ожидания до 3 минут)</h4>
            </div>
            <div class="col-md-6 col-sm-12 mb-3">
                <h4 class="text-center">Грамотные и обученые специалисты не оставят вас в беде</h4>
            </div>
            <div class="col-md-6 col-sm-12 mb-3">
                <h4 class="text-center">Время оказания услуги: до 5 минут</h4>
            </div>
            <div class="col-md-6 col-sm-12 mb-3">
                <h4 class="text-center">Возможность возврата в точку отправления</h4>
            </div>
            <div class="row">
                <div class="col-12">
                    <a href="#order" class="btn btn-lg header-btn mt-3">Заказать профессионала</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="form" id="order">
    <div class="container">
        <div class="row">
            <h3 class="text-center mb-4">Заполнение заявки</h3>
            <form method="post" class="order-form">
                <div class="col-md-6 col-sm-12">

                    <div class="mb-3">
                        <label class="form-label">Email-адрес</label>
                        <input type="email" class="form-control" name="email" id="email" placeholder="email@mail.ru">
                        <div class="form-text">Данные в безопасности</div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Как к вам можно обращаться</label>
                        <input type="name" class="form-control" name="name" id="name" placeholder="Иван">
                        <div class="form-text">Данные в безопасности</div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="mb-3">
                        <label class="form-label">Телефон для связи </label>
                        <input type="text" class="form-control" name="number" id="number" placeholder="88000000000">
                        <div class="form-text">Данные в безопасности</div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Время в которое вам удобно говорить</label>
                        <input type="text" class="form-control" name="time" id="time"
                               placeholder="В 20:00 мне будет удобно">
                    </div>
                </div>

                <div class="row">
                    <input type="submit" class="btn btn-lg header-btn mt-2" value="Отправить заявку">
                </div>
{#                <input type="submit" class="btn btn-lg header-btn mt-2" value="Отправить заявку">#}
            </form>
        </div>
    </div>
</section>

<footer></footer>

<script src="js/bootstrap.bundle.js"></script>
</body>

</html>